<div class="row">
  <div class="col-xs-8">
    <div class="well well-lg">
      <div class="review-title">
        <p>
          <strong>ID:</strong>
          <%= company.id %>
        </p>
      </div>
      <div class="review-title">
        <p>
          <strong>Name of company:</strong>
          <%= company.name_company %>
        </p>
      </div>
    </div>
  </div>
</div>