<div class="row">
  <div class="col-xs-8">
    <div class="well well-lg">
      <div class="review-title">
        <p>
          <strong>First name:</strong>
          <%= @employee.first_name %>
        </p>
      </div>
      <div class="review-title">
        <p>
          <strong>Last name:</strong>
          <%= @employee.last_name %>
        </p>
      </div>
      <div class="review-title">
        <p>
          <strong>Station:</strong>
          <%= @employee.name_station %>
        </p>
      </div>
      <div class="review-title">
        <p>
          <strong>Position:</strong>
          <%= @employee.name_position %>
        </p>
      </div>
    </div>
  </div>
</div>