<div class="row">
  <div class="col-xs-8">
    <div class="well well-lg">
      <div class="review-title">
        <p>
          <strong>ID:</strong>
          <%= @position.id %>
        </p>
      </div>
      <div class="review-title">
        <p>
          <strong>Name of position:</strong>
          <%= @position.name_position %>
        </p>
      </div>
    </div>
  </div>
</div>