<head>

</head>

<body>

</body>

<header class="bg-dark py-5">
  <% if user_signed_in? %>

    <div class="container px-5">
      <div class="row gx-5 align-items-left justify-content-left">
        <div class="col-lg-8 col-xl-7 col-xxl-6">
          <div class="my-5 text-left text-xl-start">
            <h3 class="display-5 fw-border text-white mb-2">Welcome, <%= @user.username %>!</h3>
            <p class="lead fw-normal text-white-50 mb-4"></p>
          </div>
        </div>
      </div>
    </div>

  <% else %>

    <div class="container px-5">
      <div class="row gx-5 align-items-left justify-content-left">
        <div class="col-lg-8 col-xl-7 col-xxl-6">
          <div class="my-5 text-left text-xl-start">
            <h1 class="display-5 fw-border text-white mb-2">Welcome to "Train station of North Saint Lorance"!</h1>
            <h2 class="display-5 fw-border text-white mb-2">On this page you can see our carriers and trips which pass through our station</h2>
            <p class="lead fw-normal text-white-50 mb-4">Sign in to add you as a passenger or buy a ticket</p>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</header>