<h1>Table of companies</h1>

<%#= link_to "Add new room", new_admin_room_path %>
<style>
    table, th, td {
        border: 2px solid white;
    }

    th, td {
        background-color: #DCDCDC;
    }
</style>
<table class="table">
  <tr>
    <th scope="col">ID Company</th>
    <th scope="col">Name of company</th>
  </tr>
  <% @companies.each do |company| %>
    <tr>
      <td><%= company.id %></td>
      <td><%= link_to company.name_company, company %></td>
    </tr>
  <% end %>
</table>