<h1>Edit passenger</h1>
<%= render 'admin/passengers/form', passenger: @passenger%>
<br>
<div>
  <%= link_to "Back to other passengers", admin_passengers_path, class: "btn btn-xs btn-primary" %>
</div>