<div class="row">
  <div class="col-xs-8">
    <div class="well well-lg">
      <div class="review-title">
        <p>
          <strong>ID of type:</strong>
          <%= train_type.id %>
        </p>
      </div>
      <div class="review-title">
        <p>
          <strong>Type:</strong>
          <%= train_type.name_train_type %>
        </p>
      </div>
    </div>
  </div>
</div>
<div>
  <%= link_to "Back", train_types_path %>
</div>